# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Entorno y secretos
.env

# Base de datos local
*.db
*.sqlite3

# Editores y sistema
.vscode/
.idea/
.DS_Store
